
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color:#36B1BF;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item{
    border: 1px solid #ddd;
    padding: 1rem;
}

.footer{
    background-color:#36B1BF;
    color: #fff;
    text-align: center;
    padding: 1rem;
}